body {
    background-color: #fff;
    margin: auto;
}

.background-image {
    background-image: url(https://cdn.pixabay.com/photo/2017/01/18/15/51/paper-1990111_1280.jpg);
    background-attachment: fixed;
    width: auto;
    height: auto;
    margin: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.jumbotron {
    background-color: rgba(250, 248, 249, 0.39);
    color: #070707;
    margin: 5%;
}

.subtitle {
    font-family: monospace;
    font-style: italic;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    color: #313131;
    font-size: 45px;
    font-weight: bold;
    -webkit-animation: colorchange 20s infinite alternate;
}

@-webkit-keyframes colorchange {
    0% {
        color: rgb(67, 67, 71);
    }
    10% {
        color: #705d79;
    }
    20% {
        color: #6a8882;
    }
    30% {
        color: #9b8171;
    }
    40% {
        color: rgb(105, 146, 121);
    }
    50% {
        color: #34495e;
    }
    60% {
        color: rgb(99, 99, 136);
    }
    70% {
        color: #9383b3;
    }
    80% {
        color: #a39972;
    }
    90% {
        color: #5a89a8;
    }
    100% {
        color: rgb(194, 150, 157);
    }
}

.row {
    margin: 5%;
    font-family: Microsoft JhengHei;
    font-weight: bold;
    color: #705d79;
}

.inputProductPrice {
    background-color: #d3c3d24f;
}

.btn {
    font-family: Microsoft JhengHei;
    font-size: 20px;
    color: #705d79;
    background: #f1f0f0;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
}

.btn:hover {
    color: #ffffff;
    background-color: #957f99cc;
    box-shadow: 0 10px 10px rgba(205, 204, 206, 0.637);
    transform: translate3d(0px, -5px, 0px);
    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-property: all;
    transition-timing-function: linear;
}

.footer-image {
    background-image: url(https://cdn.pixabay.com/photo/2017/01/18/15/51/paper-1990111_1280.jpg);
    background-attachment: fixed;
    width: auto;
    height: 200px;
    margin: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    margin-top: 5%;
    margin-bottom: 5%;
    color: #705d79;
}

.modal-content {
    font-family: Microsoft JhengHei;
}